{% extends 'base.html' %}
{% block body_block %}
<form method="POST">
    {% csrf_token %}
    <div class="container" id="login">
      <h1>Войти</h1>
      <p>Пожалуйста, заполните эту форму чтобы войти в аккаунт.</p>
      <hr>
  
      <label for="username"><b>Имя пользователя</b></label>
      <input type="text" placeholder="Username" name="username" id="username" required>
  
      <label for="psw"><b>Пароль</b></label>
      <input type="password" placeholder="Enter Password" name="password" id="psw" required>
      <hr>
      <button type="submit" class="registerbtn">Войти</button>
    </div>
  
  </form>
{% endblock body_block %}