<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'base.css'%}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet/less" type="text/css" href="styles.less" />
    </head>
    <body>
        <nav class="navbar navbar-expand-lg" id="navbar-main">
            <div class="container-fluid">
              <a class="navbar-brand" href="{% url 'index' %}" style="margin-left: 30px;">Rosenblum</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ">
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'translator_app:translations' %}">Мои переводы</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'translator_app:translator' %}">Переводчик</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'translator_app:wordbook' %}">Словарь</a>
                  </li>
                </ul>
                  {% if not user.is_authenticated %}
                  <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'translator_app:signup'%}">Регистрация</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'translator_app:login'%}">Войти</a>
                  </li>
                  </ul>
                  {% else %}
                <ul class="navbar-nav ms-auto" style="margin-right:50px; color:white;">
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Здравствуйте, {{ request.user.username }}
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="{% url 'translator_app:translations' %}">Мои переводы</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="{% url 'translator_app:logout' %}">Выйти</a></li>
                    </ul>
                  </li>
                </ul>
                {% endif %}
              </div>
            </div>
          </nav>


        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
        {% block body_block %}
        {% endblock body_block %}
    </body>
</html>