{% extends 'base.html' %}
{% load static %}
{% block body_block %}
	<div class="main">
        <div class="form-div">
		<form method='POST' enctype="multipart/form-data">
            {% csrf_token %}
			<label for="dropdown1">Язык оригинала:</label>
			<select id="dropdown1" name="language1">
				<option value="russian">Русский</option>
				<option value="ukrainian">Украинский</option>
				<option value="deutsch">Немецкий</option>
			</select>
			<br>
			<label for="dropdown2">Язык перевода:</label>
			<select id="dropdown2" name="language2">
				<option value="russian">Русский</option>
				<option value="ukrainian">Украинский</option>
				<option value="deutsch">Немецкий</option>
			</select>
			<div class="upload">
                <input type="file" id="real-file" hidden="hidden" name="file"/>
                <button type="button" id="custom-button" class="btn btn-success">Выберите файл</button>
                <span id="custom-text"></span>
        
                    <div class="switch-field">
                        <input type="radio" id="radio-one" name="switch-one" value="deepl" checked>
                        <label for="radio-one"><img src="{% static 'images/deepl_logo.png'%}" style="width:23px; height:23px;"></label>
                        <input type="radio" id="radio-two" name="switch-one" value="gpt" />
                        <label for="radio-two"> <img src="{% static 'images/gpt_logo.png'%}" style="width:23px; height:23px;"></label>
                    </div>
                
            </div>
            <button type="submit" class="btn btn-success" id="btn-submit" name="form1">Подтвердить</button>
        </div>
	</div>
        <div class="button-div">
            <input type="text" style="border-radius:0.5em; margin-top:0px; height:45px; display:none;" placeholder="Введите название..." id="text-field" name="client">
            <button class="btn btn-success" type="button" id="submit-button" style=" border:none;">Сохранить перевод</button>
            <button class="btn btn-success" type="submit" id="no-button"name="form2" style="width:100%; margin-top: 20px; display: none; border:none;">Подтвердить</button>
        </div>

        <div class="second-div">
            <textarea placeholder="Оригинал" id="textarea1" name="converted_text">{{ converted }}</textarea>
		    <textarea placeholder="Перевод" id="textarea2" name="translated_text">{{ translated }}</textarea>
        </div>
    </form>
    

    <script>
        const realFileBtn = document.getElementById("real-file");
        const customBtn = document.getElementById("custom-button");
        const customTxt = document.getElementById("custom-text");
        var btn = document.getElementById('submit-button');
        var btnCancel = document.getElementById('no-button');
        var field = document.getElementById('text-field')

        const dropdown1 = document.getElementById('dropdown1');
        const dropdown2 = document.getElementById('dropdown2');

        customBtn.addEventListener("click", function() {
            realFileBtn.click();
        });

        realFileBtn.addEventListener("change", function() {
            if (realFileBtn.value) {
                customTxt.innerHTML = realFileBtn.value.match(
                /[\/\\]([\w\d\s\.\-\(\)]+)$/
                )[1];
            } else {
                customTxt.innerHTML = "No file chosen, yet.";
        }
        });
        btn.onclick = function() {
            if (field.style.display == "none") {
                field.style.display = "block";
                btnCancel.style.display = "block";
                btn.style.background = 'rgb(220,53,69)';
                btn.innerHTML = "Отмена";
            } else{ 
                field.style.display = "none";
                btnCancel.style.display = "none";
                btn.style.background = 'RGB(25 135 84)';
                btn.innerHTML = "Сохранить перевод"
            }
        };

        const savedState = localStorage.getItem('dropdownState');
        if (savedState) {

            const { language1, language2 } = JSON.parse(savedState);
            dropdown1.value = language1;
            dropdown2.value = language2;
        }

        const saveDropdownState = () => {
            const state = { language1: dropdown1.value, language2: dropdown2.value };
            localStorage.setItem('dropdownState', JSON.stringify(state));
        };
        
        dropdown1.addEventListener('change', saveDropdownState);
        dropdown2.addEventListener('change', saveDropdownState);

    </script>


{% endblock %}