{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% block body_block %}

<div class="info-box">
  <div class="initial-box">
    <img src="{% static 'images/'|add:language1|add:'.svg' %}" alt="Language 1" onerror="this.onerror=null;this.src='{% static 'images/unknown.svg' %}';">
    <h1>{{ object.phrase|truncatechars:70 }}</h1>
  </div>
  <div class="translate-box">
    <img src="{% static 'images/'|add:language2|add:'.svg' %}" alt="Language 2" onerror="this.onerror=null;this.src='{% static 'images/unknown.svg' %}';">
    <h1>{{ object.translated|truncatechars:70 }}</h1>
  </div>
</div>

<form method="POST">
    {% csrf_token %}
    <div class="show-div">
        <button type="submit" class="btn btn-success">Показать в контексте</button>
    </div>
</form>

{% if context_phrase == 0 %}
<div class="context-box" style="text-align:center;">
  <h1>Не удалось загрузить контексты.</h1>
</div>
{% else %}
{% for phrase in context_phrase %}
<div class="context-box">
    <h2 style="font-size: 20px;">{{ phrase.0|highlight:highlight_phrase }}</h2>
    <h2 style="font-size: 20px;">{{ phrase.1 }}</h2>
</div>
{% endfor %}
{% endif %}

  <style>
    .info-box {
      width: 1100px;
      margin: auto;
      margin-top: 100px;
      padding: 30px;
      background-color: RGB(43 48 53);
      border-radius: 1em;

      
    }

    .initial-box, .translate-box {
      flex: 1;
      display: flex;
    }

    .context-box {
      width: 1100px;
      margin: auto;
      margin-top: 30px;
      background-color: RGB(43 48 53);
      padding: 20px;
      border-radius: 1em;
    }

    img {
      height: 30px;
      width: 40px;
      border-radius: 0.2em;
      margin-right: 20px;
    }

    h1 {
      font-size: 20px;
      white-space: nowrap;
    }
    .translate-box {
        margin-top: 30px;
    }

    .btn {
        width: 1100px;
    }
    .show-div{
        width: 1100px;
        margin: auto;
        margin-top: 30px;
    }

  </style>



{% endblock body_block %}
